<!DOCTYPE html>
<html>
    <head>
        <title>react1</title>
        <meta charset="utf-8">
        <!-- <script src="../js/jquery.min.js"></script> -->
        <script src="../js/react.js"></script>
        <script src="../js/react-dom.min.js"></script>
        <script src="../js/babel.js"></script>
        <style type="text/css">
            .img{border:1px solid red;}
        </style>
    </head>
    <body>
        
        <div id="app"></div>
        
        <script type="text/babel">
            function dian(){
                alert(333);
            }
            let tit=(<div>
                        <h3 style={{color:'red',fontStyle:'italic',fontSize:'30px'}}>哈fsfg哈哈</h3>
                        <span>fasf</span>
                        <img className="img" src="../img/logo.png" onClick={dian}/>
                    </div>);
            ReactDOM.render(
                tit,
                document.querySelector('#app')
            )
        </script>
        
    </body>
</html>
